<mat-card class="category-card">
  <mat-card-header>
    <mat-card-title>Category form</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="categoryForm" [formGroup]="categoryForm" (ngSubmit)="saveCategory()" class="category-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="name.hasError('required') && showErrors">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
        <mat-error *ngIf="description.hasError('required') && showErrors">
          Description is required
        </mat-error>
        <mat-error *ngIf="description.hasError('minlength') && showErrors">
          Description must be at least 5 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>CSS color</mat-label>
        <input matInput formControlName="css_color" placeholder="#A1B2C3" />
        <mat-error *ngIf="css_color.hasError('required') && showErrors">
          CSS color is required
        </mat-error>
        <mat-error *ngIf="css_color.hasError('pattern') && showErrors">
          Use a valid hex color (e.g., #A1B2C3)
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </form>
  </mat-card-content>
</mat-card>