<div class="register-container">
  <h1 class="title">Register</h1>
  <!-- TODO 18 -->

  <div id="registerFeedback"></div>

  <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form" novalidate>
    <app-input-text
    label="Nombre"
    [control]="getControl('name')"
    placeholder="Nombre"
    errorMessage="El nombre es obligatorio y debe tener al menos 3 caracteres."
     ></app-input-text>

  <app-input-text
    label="Primer apellido"
    [control]="getControl('surname_1')"
    placeholder="Primer apellido"
    errorMessage="El primer apellido es obligatorio y debe tener al menos 3 caracteres."
      ></app-input-text>

  <app-input-text
    label="Segundo apellido"
    [control]="getControl('surname_2')"
    placeholder="Segundo apellido"
    errorMessage="El segundo apellido debe tener al menos 3 caracteres."
     ></app-input-text>

  <app-input-text
    label="Alias"
    [control]="getControl('alias')"
    placeholder="Alias"
    errorMessage="El alias es obligatorio y debe tener al menos 3 caracteres."
     ></app-input-text>

  <app-input-date
    label="Fecha de nacimiento"
    [control]="getControl('birth_date')"
    placeholder="Selecciona tu fecha de nacimiento"
    errorMessage="La fecha no es válida"
      ></app-input-date>

  <app-input-email
    label="Correo electrónico"
    [control]="getControl('email')"
    placeholder="usuario@ejemplo.com"
    errorMessage="Introduce un correo electrónico válido."
     ></app-input-email>

  <app-input-password
    label="Contraseña"
    [control]="getControl('password')"
    placeholder="Contraseña"
    errorMessage="La contraseña es obligatoria y debe tener al menos 6 caracteres."
      ></app-input-password>
    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">
      Registrarse
    </button>
  </form>
</div>
