<div class="login-container">
  <h2 class="title">Iniciar Sessió</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <app-input-email
    label="Correu electrònic"
    [control]="email"
    placeholder="Introdueix el teu correu"
    errorMessage="Introdueix un correu electrònic vàlid."
      ></app-input-email>

      <app-input-password
      label="Contrasenya"
      [control]="password"
      placeholder="Contrasenya"
      errorMessage="La contrasenya és obligatòria."
    ></app-input-password>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || loading">
      Entrar
    </button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</div>