<div class="home-wrapper">
  <h1 class="page-title">Últimos posts</h1>

  <mat-card *ngIf="!posts || posts.length === 0" class="empty-state">
    <mat-card-content class="empty-content">
      No hay posts disponibles por el momento.
    </mat-card-content>
  </mat-card>
  
  <div class="cards-grid" *ngIf="posts && posts.length > 0">
    <app-post-card
    class="card-animate"
      *ngFor="let post of posts; let i = index"
      [item]="post"
      [showButtons]="showButtons"
      (like)="onLike($event)"
      (dislike)="onDislike($event)"
      [@cardAnimation]="{ value: '', params: { delay: i * 100 } }"
      ></app-post-card>
  </div>
</div>
