 <!-- <div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div>
  <h1>Login</h1>

 TODO 21 
  <div id="loginFeedback"></div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  
  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      class="form-control"
      placeholder="usuario@ejemplo.com"
    />
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <input
      id="password"
      formControlName="password"
      type="password"
      class="form-control"
      placeholder="Tu contraseña"
    />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
    Iniciar sesión
  </button>
</form>

</div>-->
