<div style="margin-left: auto; margin-right: auto">
  <p id="profileFeedback"></p>
</div>
<div>
  <h1>Profile</h1>

  <!-- TODO 6 -->
  <div id="profileFeedback"></div>

<form [formGroup]="profileForm" (ngSubmit)="updateUser()" novalidate>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input id="name" formControlName="name" type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="surname_1">Primer apellido</label>
    <input id="surname_1" formControlName="surname_1" type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="surname_2">Segundo apellido</label>
    <input id="surname_2" formControlName="surname_2" type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="alias">Alias</label>
    <input id="alias" formControlName="alias" type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label for="birth_date">Fecha de nacimiento</label>
    <input id="birth_date" formControlName="birth_date" type="date" class="form-control" />
  </div>

  <div class="form-group">
    <label for="email">Correo electrónico</label>
    <input id="email" formControlName="email" type="email" class="form-control" />
  </div>

  <div class="form-group">
    <label for="password">Contraseña</label>
    <input id="password" formControlName="password" type="password" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">
    Actualizar perfil
  </button>
</form>

</div>
